{
  "image_configuration": {
    "images": {
      "greenffled.png": {
        "format": "RGB565"
      },
      "greenledoff.png": {
        "format": "RGB565"
      },
      "ladder.png": {
        "format": "L8_RGB565"
      },
      "RGB_Circ.png": {
        "format": "RGB565"
      },
      "start.png": {
        "format": "RGB565"
      },
      "stop.png": {
        "format": "RGB565"
      }
    },
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}